@charset "UTF-8";




div#comecar{
    margin-top: 30px;
}

header h1{
    padding: 20px;
    text-align: center;
    background-color: rgba(252, 252, 252, 0.847);
    color: var(--cor6);
    font-family: cursive, verdana, arial, sans-serif;
    margin: 0px 0px 20px 0px;
    border: 1px solid black;
}

main{
    text-align: center;
}
section{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 50px;
}

section img{
    width: 300px;
}

aside p{
    text-align: justify;
    border: 1px solid black;
    background-color: var(--cor4);
    color: white;
    font: normal 1em verdana;
}

div#acoes{

    position: absolute;
    width: 50px;
    bottom: -45px;
    right: 0px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px 0px 0px 10px;

}

div#acoes .botao_acao{
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 5px 2px 5px 2px;  

}
#atacar{
    background-color: rgba(255, 0, 0, 0.622);
}
#defender{
    background-color: rgba(3, 109, 47, 0.89);
}
#recarregar{
    background-color: rgba(255, 217, 0, 0.742);
}
