@charset "UTF-8";



body{
    background-color: var(--cor1);
}

div#comecar{
    margin-top: 30px;
}

header h1{
    padding: 20px;
    text-align: center;
}

main{
    text-align: center;
}
section{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 50px;
}

section img{
    width: 300px;
}

aside p{
    text-align: justify;
    border: 1px solid black;
    background-color: var(--cor4);
    color: white;
    font: normal 1em verdana;
}

div#acoes{

    position: absolute;
    width: 50px;
    bottom: -45px;
    right: 0px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px 0px 0px 10px;
}

div#acoes .botao_acao{
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 5px 2px 5px 2px;  

}
#atacar{
    background-color: rgba(255, 0, 0, 0.447);
}
#defender{
    background-color: rgba(0, 153, 255, 0.573);
}
#recarregar{
    background-color: rgba(255, 200, 0, 0.742);
}
