@charset "UTF-8";


body{
    background-color: var(--cor3);
}
header{
    text-align: center;
    background-color: rgb(103, 103, 103);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}
header h1{
    padding: 10px;
    margin-bottom: 50px;
    color: white;
}

menu{
    margin: auto;
    padding: 10px;
    background-color: rgb(213, 213, 213);
    max-width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.488);
}

section{
    margin: auto auto 30px auto;
}

section input{
    padding: 4px;
    border-radius: 20%;
    background-color: white;
}

section input:active{
    background-color: lightblue;
}


