@charset "UTF-8";


body{
    
    padding: 0px;
}

main{
    background-color: rgba(0, 0, 0, 0.034);
    height: 90vh;
    padding: 0px;
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 0px;
}

header h1{
    text-align: center;
    margin: 30px 0px 50px 0px;
    color: var(--cor1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4em;
    
}

section{
    margin: auto;
    text-align: center;
    background-color: rgba(71, 71, 71, 0.142);
    padding: 30px 10px 30px 10px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px 10px 0px 0px;
    
}

section input{
    width: 90%;
    max-width: 500px;
    padding: 14px;
    margin: 10px;
    font: bolder 1.4em arial;
    color: var(--cor5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.871);
    background-color:  #ebb074;
}

#logo{
    display: block;
    margin: 40px auto;
    background-color: rgb(38, 77, 131);
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
}