@charset "UTF-8";


body{
    background-color: var(--cor3);
}

header h1{
    
    text-align: center;
    margin: 30px 0px 50px 0px;
    color: var(--cor2);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4em;
    
}

section{
    margin: auto;
    text-align: center;
    background-color: #4e4b747b;
    padding: 30px 10px 30px 10px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px 10px 0px 0px;
}

section input{
    width: 90%;
    max-width: 500px;
    padding: 14px;
    margin: 10px;
    font: bolder 1.4em arial;
    color: var(--cor5);
    border-radius: 10px;
}