@charset "UTF-8";


body{
    padding: 0px;
}

h1{
    text-align: center;
    margin-top: 30px;
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font: normal 2em Verdana, Tahoma, sans-serif;
}   

main{
    text-align: center;
    padding: 35px 35px 0px 35px;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 0px 0px 0px;
    
}



section{
    display: inline-block;
    position: relative;
    margin: auto 100px 100px 100px;
    background-color: white;
    width: 250px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}

section img{
    width: 100%;
}

/* Configurações que se aplicam a mais de uma página, estão localizadas em geral.css  */

.seta{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
    background-color: white;
    border: 1px solid black;
}
.setaright{
    right: -60px;
}
.setaleft{
    left: -60px;
}

#botao_selecionar{
    display: block;
    margin: auto;
    padding: 5px;
    font: bold 1.5em arial;
}